@import 'variables';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-family: @open-sans;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: @roboto;
    padding: .3rem 0;
}

p {
    padding: .2rem 0;
}

a {
    color: #fff;
    text-decoration: none;
}

.container {
    padding: 0 5%;
}

header {
    .header-nav {
        height: 100vh;
        color: white;
        font-family: @roboto;
        background-image: url('../images/header-img.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .desktop-title {
        display: none;
    }

    #page-header {
        background-color: @teal;
        padding-top: 15px;
        height: 10vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        #desktop-nav {
            display: none;
        }
        h1 {
            font-style: italic;
            .light {
                font-weight: 300;
                font-style: normal;
                padding-left: 7px;
            }
        }
    }

    #hamburger-icon {
        position: relative;
        z-index:2;
    }
    
    #mobile-nav {
        align-self: flex-end;
    }

    .sub-menu {
        position: absolute;
        background-color: @red;
        width: 100%;
        left: 0;
        text-align: center;
        top:0;
        display: flex;
        flex-direction: column;
        ul {
            margin-top: 10vh;
            li {
                padding: 30px;
            }
        }
        hr {
            border: 1px solid #fff;
            width: 80%;
            margin: 30px auto;
        }
        .social-icons {
            padding: 30px 0;
            i {
                padding: 0 40px;
            }
        }
        .contact-content {
            padding: 30px 0;
        }
    }

    .hidden {
        height:0;
        width: 0;
        overflow: hidden;
        transition: width .3s ease-in-out;
    }
    .show {
        height:100%;
        width: 100%;
    }
    .header-img {
        width: 100%;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
    
}

#int-header {
    display:flex;
    flex-direction: column;
    .header-nav{
        background-image: none;
        height: 10%;
    } 
    .header-bottom {
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
            font-size: 3rem;
            text-transform: uppercase;
            font-weight: 300;
        }
    }
    #header-about {
        background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../images/about-img.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .about-header-text {
        padding:50px;
        color: @teal;
    }
}

main {
    .sec-1 {
        background-color: @yellow;
        padding: 50px 0;
        .founder {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            div {
                padding: 20px 0;
                width: 100%;
                &:nth-child(2) {
                    text-align: center;
                } 
            }
            img {
                max-width: 300px;
            }
        }
    }
    .sec-2 {
        height: 400px;
        width: 100%;
        background-image: url('../images/bay-boats.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .sec-3 {
        background-color: @red;
        padding: 30px 0;
        #up-prog {
            text-align: center;
        }
        #program-content {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            div {
                padding:15px;
                &:nth-child(1) {
                    padding-top:40px;
                }
            }
        }
        .hidden {
            height:0;
            width: 0;
            overflow: hidden;
            transition: height .3s ease-in-out;
        }
        .show {
            height:100%;
            width: 100%;
        }
    }
    .sec-4 {
        background-color:@teal;
        padding: 30px 0;
        .tides{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        i {
            font-size: 5rem;
        }
        .height-buttons {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }
    button {
        color: #fff;
        background-color: inherit;
        padding: 10px 15px;
        border: 1px solid #fff;
        margin: 15px;
    }
}

@media (min-width: @phone) {
    
}

@media (min-width: @laptop) {
    header {
        #page-header {
            height:100vh;
            width: 20%;
            background-color: rgba(134, 209, 205, 0.9);
            #desktop-nav {
                display: block;
            }
            h1 {
                font-size: 2.5rem;
            }
        }
        .desktop-title {
            display: block;
            padding: 30px 0;
        }
        #hamburger-icon, .mobile-title {
            display: none;
        }
        #desktop-menu {
            height: 100vh;
            text-align: right;
            ul {
                li {
                    padding: 30px 0;
                    list-style: none;
                }
            }
            hr {
                border: 1px solid #fff;
                width: 100%;
                margin: 30px auto;
            }
            .social-icons {
                padding: 30px 0;
                text-align: center;
                font-size: 1.3rem;
                i {
                    padding: 0 10%;
                }
            }
            .contact-content {
                padding: 30px 0;
            }
        }
    }

    #int-header {
        flex-direction: row;
        #page-header {
            width: auto;
            padding: 15px 17%;
        }
        .header-nav {
            background-image: none;
            width: 30%;
        }
        .header-content {
            width: 70%;
        }
    }

    main {
        .sec-1 {
            .founder {
                flex-direction: row;
            }
        }
        .sec-3 {
            #program-content {
                flex-direction: row;
                div:nth-child(1) {
                    padding-top: 15px;
                }
            }
        }
        .programs {
            display: flex;
        }
    }
}
